{% extends 'base.html.twig' %}

{% block title %}Ma commande - La Bonne Boutique{% endblock %}

{% block content %}
<h1>
    Ma commande {{ order.reference }}
</h1>
   <a href=" {{ path('account_order')}}"> Retour </a><br>
   <hr>
   <strong>Commande passé le:</strong> {{ order.createdAt|date('d/m/Y') }}<br>
   <strong>Statut commande:</strong>  
    {% if order.state == 1  %}
      Paiement accepté
    {% elseif order.state == 2  %}
      Préparation en cours
    {% elseif order.state == 3  %}
      Livraison en cours
    {% endif  %}<br>
   <strong>Référence de commande:</strong> <small>{{ order.reference }}</small>  <br>
   <strong>Transporteur choisi:</strong> {{ order.carrierName }}<br>
   <hr>
   <strong>Détails:</strong> <br>
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix Unitaire</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% for product in order.orderDetails %}
    <tr>
      <th>{{ product.product }}</th>
      <td>{{ product.quantity }}</td>
      <td>{{ (product.price/100)|number_format(2, ',', ',') }} €</td>
      <td>{{ (product.total/100)|number_format(2, ',', ',') }} €</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class='text-right'>
  <strong>Sous-total :</strong> {{ (order.getTotal/100)|number_format(2, ',', ',') }} €<br>
  <strong>Livraison :</strong> {{ (order.carrierprice/100)|number_format(2, ',', ',') }} €<br>
  <strong>Total : </strong> {{ ((order.carrierPrice + order.getTotal)/100)|number_format(2, ',', ',') }} €
</div>
{% endblock %}
