{% extends 'base.html.twig' %}

{% block title %}{{ product.name}} - La Bonne Boutique{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-5">
    <img src="/uploads/{{ product.illustration }}" alt='{{ product.name }}' class="img-fluid">
</div>
<div class="col-md-7">
    <h3>{{ product.name }}</h3>
    <p>{{ product.subtitle }}</p>
    <b>{{ (product.price / 100)|number_format(2,',', '.')}} €</b>
    <hr>
    <p>{{ product.description }}</p>
    <a href="{{ path('add_to_cart', { 'id' : product.id})}}" class="btn btn-primary">Ajouter au panier</a>

</div>
</div>    
<hr>
    <h3>Nos meilleures ventes</h3>
    <p>Decouvrez nos articles plus vendu.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
